{% unless page.no_header %}
{% if index %}
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <h5 class="date-time">{% include post/date.html %}<i class="fa fa-calendar-o"></i> {{ time }}</h5>

      {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
        <a href="{% if index %}{{ site.url }}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments </a>
        <span class="fui-bubble-16"></span>
      {% endif %}

      {% if post.categories %}
        {% for category in post.categories %}
          <a href="{{ root_url }}/{{ site.category_dir }}/{{ category | replace:' ','-' | replace:'.','-dot-' | downcase }}/"><span class="badge">{{ category }}</span></a>
        {% endfor %}
      {% endif %}
    </div> <!-- end .col-sm-3 .col-lg-2 -->

    <div class="col-sm-9 col-lg-10">
      <h1 class="link">
        <a href="{{ root_url }}{{ post.url }}">
          {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
        </a>
      </h1>
      {{ post.excerpt }}
      {% if post.excerpt.size != post.content.size %}
        {% if post.featured_image %}
          <br/>{% picture half {{ post.featured_image }} %}
        {% endif %}
        <a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
      {% endif %}
    </div> <!-- end .col-sm-9 .col-lg-10 -->
  </div> <!-- end .row -->
{% else %}
  <header>
    <div class="post-title" role="banner">
      <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}<h1>
      <h5>{% include post/date.html %}<i class="fa fa-calendar-o"></i> {{ time }}</h5>
    </div>
  </header>
  <div class="row">
    <div class="col-sm-12">
      {{ content }}
    </div>
  </div> <!-- end .row -->
{% endif %}
{% endunless %}
