<ul class="nav navbar-nav">
  {% for link in site.navigation %}
    <li {% if page.url == link.url %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.text }}</a></li>
  {% endfor %}
</ul>
<ul class="nav navbar-nav navbar-right">
  {% if site.github_user %}
    <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile"><i class="fa fa-github-square social-navbar"></i></a></li>
  {% endif %}
  {% if site.linkedin_user %}
    <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="Linkedin Profile"><i class="fa fa-linkedin-square social-navbar"></i></a></li>
  {% endif %}
  {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile"><i class="fa fa-twitter-square social-navbar"></i></a></li>
  {% endif %}
  {% if site.googleplus_user %}
    <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile"><i class="fa fa-google-plus-square social-navbar"></i></a></li>
  {% endif %}
  {% if site.facebook_user %}
    <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile"><i class="fa fa-facebook-square social-navbar"></i></a></li>
  {% endif %}
  {% if site.email %}
    <li><a href="mailto:{{ site.email }}" title="Email"><i class="fa fa-envelope social-navbar"></i></a></li>
  {% endif %}
  {% if site.enable_rss %}
    <li><a href="{{ site.subscribe_rss }}" title="RSS Feed"><i class="fa fa-rss-square social-navbar"></i></a></li>
  {% endif %}
</ul>
