{% capture date %}{{ page.date }}{{ post.date }}{% endcapture %}
{% capture updated %}{{ page.updated }}{{ post.updated }}{% endcapture %}

{% if date.size > 0 %}
  {% capture time %}<time datetime="{{ date | date_to_xmlschema }}" {% if updated %} data-updated="true"{% endif %}>{{ date | date_to_string }}</time>{% endcapture %}
{% endif %}

{% if updated.size > 0 %}
  {% capture updated %}<time datetime="{{ updated | date_to_xmlschema }}" class="updated">{{ updated | date_to_string }}</time>{% endcapture %}
{% else %}{% assign updated = false %}{% endif %}
