---
layout: page
footer: false
---

<div id="blog-archives" class="category">
{% for post in site.categories[page.category] %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  <div class="row">
    <div class="col-sm-1">
    {% unless year == this_year %}
      {% assign year = this_year %}
        <h2>{{ year }}</h2>
    {% endunless %}
    </div>
    <div class="col-sm-11">
      <article>
        {% include post/archive_post.html %}
      </article>
    </div>
  </div>
{% endfor %}
</div>
