<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
  {% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
  {% include head.html %}
  <body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

    {% include navbar.html %}

    <div class="container" id="main">
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
      {% unless page.omit_footer %}
      <div class="row">
        <div class="col-sm-12">
          <footer class="footer-page" role="contentinfo">
            {% include footer.html %}
          </footer>
        </div>
      </div>
      {% endunless %}
    </div>

    {% javascript app %}
  </body>
</html>
