---
layout: default
---

<article role="article">
  {% if page.title %}
    <header>
      <div class="post-title">
        <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      </div>

      {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
    </header>
  {% endif %}
  {{ content }}
</article>

{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
